.coaches {
  position: relative;
  padding: 10px 0 105px;
  max-width: 1366px;
  margin: 0 auto;

  @include vp-1199 {
    max-width: 1199px;
    padding: 13px 101px 90px 101px;
  }

  @include vp-767 {
    max-width: 767px;
    min-width: 320px;
    padding: 25px 47px 70px 47px;
  }

  h2 {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 48px;
    font-family: $font-family-primery;
    font-weight: $font-weight-semibold;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 1.62px;
    min-width: 1040px;
    width: 86%;
    max-width: 1160px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1.26px;
      margin-bottom: 31px;
      text-align: center;
      max-width: 997px;
      min-width: 566px;
      width: 566px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.96px;
      margin-bottom: 42px;
      max-width: 673px;
      width: 226px;
      min-width: 226px;
    }
  }
}

.coaches__swiper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-width: 1040px;
  width: 86%;
  max-width: 1160px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    min-width: 566px;
  }

  @include vp-767 {
    min-width: 226px;
    grid-template-columns: 1fr;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: transparent;
}

.coaches__trainers-slide {
  position: relative;
  width: 25%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;

  @include vp-1199 {
    min-width: 268px;
    width: 50%;
  }

  @include vp-767 {
    min-width: 226px;
    width: 100%;
  }

  &:hover {
    .coaches__text {
      background-color: rgba(16, 38, 84, 0.89);
      height: 100%;
      position: absolute;

      @include vp-1199 {
        background-color: transparent;
      }
    }

    h3 {
      top: 8%;

      @include vp-1199 {
        top: 71.5%;
      }

      @include vp-767 {
        top: 74.2%;
      }
    }

    .coaches__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;

      @include vp-1199 {
        display: none;
      }
    }
  }

  &:focus-visible {
    .coaches__text {
      background-color: rgba(16, 38, 84, 0.89);
      height: 100%;

      @include vp-1199 {
        height: 95%;
      }

      @include vp-767 {
        height: 100%;
      }
    }

    h3 {
      top: 8%;

      @include vp-1199 {
        top: 9%;
        padding-left: 2px;
      }

      @include vp-767 {
        top: 15px;
        padding-left: 7px;
      }
    }

    .coaches__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      height: 65%;

      @include vp-767 {
        width: 75%;
        height: 70%;
      }
    }

    li:not(:last-child) {
      @include vp-1199 {
        margin-bottom: 13px;
      }
    }
  }

  &.active {
    .coaches__text {
      @include vp-1199 {
        display: block;
        background-color: rgba(16, 38, 84, 0.89);
        height: 95%;
      }

      @include vp-767 {
        height: 100%;
      }
    }

    h3 {
      @include vp-1199 {
        top: 9%;
        padding-left: 2px;
      }

      @include vp-767 {
        top: 15px;
        padding-left: 7px;
      }
    }

    .coaches__description {
      @include vp-1199 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 65%;
      }

      @include vp-767 {
        width: 75%;
        height: 65%;
      }
    }

    li:not(:last-child) {
      @include vp-1199 {
        margin-bottom: 13px;
      }
    }
  }
}

.coaches__image-container {
  max-width: 260px;
  max-height: 294px;

  @include vp-1199 {
    max-width: 100%;
    max-height: 100%;
    min-width: 268px;
    min-height: 294px;
    width: 100%;
    height: 95%;
  }

  @include vp-767 {
    min-width: 226px;
    min-height: 274px;
    height: 100%;
  }

  img {
    background-color: $color-ghost-white;
    object-fit: cover;

    @include vp-1199 {
      width: 100%;
      height: 100%;
    }

    @include vp-767 {
      min-width: 226px;
      min-height: 274px;
    }
  }
}

.coaches__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 58px 46px 58px 55px;

  @include vp-1199 {
    height: 95%;
  }

  @include vp-767 {
    padding: 48px 33px 48px 34px;
    height: 100%;
  }

  h3 {
    position: absolute;
    color: $color-default-white;
    margin: 0;
    padding: 0;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: $font-weight-bold;
    line-height: 27px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 54px;
    align-items: end;
    justify-content: center;
    text-align: center;

    @include vp-1199 {
      bottom: 6%;
      padding-left: 16px;
    }
  }
}

.coaches__description {
  display: none;
  position: absolute;
  top: 25%;

  @include vp-767 {
    top: 65px;
  }

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $color-spindle-grey;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 33px;
    margin-left: -16%;

    @include vp-1199 {
      margin-left: -20%;
    }

    @include vp-767 {
      margin-left: -7%;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    color: $color-default-white;
    list-style-type: none;
    overflow-y: auto;
  }

  li {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 16px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      background-color: $color-default-white;
      border-radius: 50%;
      top: 7px;
      left: 0;
    }
  }

  li:not(:last-child) {
    margin-bottom: 13px;

    @include vp-1199 {
      margin-bottom: 11px;
    }

    @include vp-767 {
      margin-bottom: 12px;
    }
  }
}

.coaches__button {
  position: absolute;
  top: 2px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: $color-sapphire-blue;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include vp-1199 {
    top: -20%;
  }

  @include vp-767 {
    width: 35px;
    height: 35px;
    top: 50%;
  }

  &--back {
    left: 45%;

    @include vp-1199 {
      left: 50%;
    }

    @include vp-767 {
      left: -10px;
    }
  }

  &--forward {
    right: 45%;
    transform: rotate(180deg);

    @include vp-1199 {
      right: 50%;
    }

    @include vp-767 {
      right: -10px;
    }
  }

  &:hover {
    border: 1px solid $color-sapphire-blue;
  }

  &:focus-visible {
    border: 1px solid $color-sapphire-blue;
  }

  @include hover-focus {
    @include vp-1199 {
      border: 1px solid $color-sapphire-blue;
    }
  }

  &:active {
    background-color: $color-sapphire-blue;
    color: $color-default-white;
  }

  &:disabled {
    color: rgba(16, 38, 84, 0.3);
    cursor: default;
  }

  svg {
    @include vp-767 {
      width: 10px;
      height: 19px;
    }
  }
}
