.coaches1 {
  position: relative;
  padding: 10px 103px 105px 103px;
  max-width: 1366px;
  margin: 0 auto;

  @include vp-1199 {
    max-width: 768px;
    padding: 10px 101px 100px 101px;
  }

  @include vp-767 {
    max-width: 320px;
    padding: 10px 47px 70px 47px;
  }

  h2 {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 48px;
    font-family: $font-family-primery;
    font-weight: $font-weight-semibold;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 1.62px;
    width: 1160px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1.26px;
      margin-bottom: 31px;
      text-align: center;
      width: 566px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.96px;
      margin-bottom: 42px;
      width: 226px;
    }
  }
}

.coaches1__swiper {
  display: flex;
  margin: 0 auto;
  max-width: 1161px;

  @include vp-1199 {
    max-width: 567px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: transparent;
}

.coaches1__trainers-slide {
  position: relative;
  width: 260px;
  height: 294px;
  margin: 0 auto;
  padding: 0;

  @include vp-1199 {
    width: 268px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }

  @include hover {
    .coaches1__text {
      background-color: rgba(16, 38, 84, 0.89);
      position: absolute;
    }

    h3 {
      top: 31px;
    }

    .coaches1__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 155px;
    }

    @include vp-1199 {
      display: none;
    }
  }

  @include focus {
    .coaches1__text {
      background-color: rgba(16, 38, 84, 0.89);
    }

    h3 {
      top: 31px;

      @include vp-767 {
        top: 21px;
      }
    }

    .coaches1__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 155px;
    }
  }

  @include active {

    @include vp-1199 {
      .coaches1__text {
        background-color: rgba(16, 38, 84, 0.89);
      }

      h3 {
        top: 31px;

        @include vp-767 {
          top: 21px;
        }
      }

      .coaches1__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 155px;
      }
    }
  }
}

.coaches1__image-container {
  width: 260px;
  height: 294px;

  @include vp-1199 {
    width: 268px;
    height: 294px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }

  img {
    background-color: $color-ghost-white;
    object-fit: cover;

    @include vp-1199 {
      width: 268px;
      height: 294px;
    }

    @include vp-767 {
      width: 226px;
      height: 274px;
    }
  }
}

.coaches1__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  padding: 58px 46px 58px 55px;

  @include vp-1199 {
    width: 268px;
  }

  @include vp-767 {
    width: 226px;
  }

  @include vp-767 {
    padding: 48px 33px 48px 34px;
  }

  h3 {
    position: absolute;
    color: $color-default-white;
    margin: 0;
    padding: 0;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: $font-weight-bold;
    line-height: 27px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 54px;
    align-items: end;
    justify-content: center;
    text-align: center;
  }
}

.coaches1__description {
  display: none;
  position: absolute;
  top: 81px;

  @include vp-767 {
    top: 71px;
  }

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $color-spindle-grey;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    color: $color-default-white;
    list-style-type: none;

    li {
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0;
      width: 159px;
      padding-left: 16px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        background-color: $color-default-white;
        border-radius: 50%;
        top: 7px;
        left: 0;
      }
    }

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.coaches__button {
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: $color-sapphire-blue;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }

  &--back {
    left: 20px;

    @include vp-767 {
      left: -5px;
    }
  }

  &--forward {
    right: 20px;
    transform: rotate(180deg);
    top: 5%;

    @include vp-767 {
      right: -3px;
    }
  }

  @include hover {
    border: 1px solid $color-sapphire-blue;

    @include vp-1199 {
      display: none;
    }
  }

  @include focus {
    border: 1px solid $color-sapphire-blue;

    @include vp-1199 {
      display: none;
    }
  }

  @include hover-focus {

    @include vp-1199 {
      border: 1px solid $color-sapphire-blue;
    }
  }

  @include active {
    background-color: $color-sapphire-blue;
    color: $color-default-white;
  }

  &:disabled {
    color: rgba(16, 38, 84, 0.3);
    cursor: default;
  }

  svg {

    @include vp-767 {
      width: 10px;
      height: 19px;
    }
  }
}
