.contacts {
  padding: 55px 0 46px;
  border-top: 1px solid $color-light-slate-grey;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 62px 0 43px;
    border-top: none;
    width: 78%;
  }

  @include vp-767 {
    width: 100%;
    padding: 64px 0 42px;
  }
}

.contacts__content-wrapper {
  padding: 0 10px 0 120px;

  @include vp-1199 {
    margin: 0 auto;
    padding: 0;
  }

  @include vp-767 {
    margin: 0;
    width: 290px;
  }

  h2 {
    font-family: $font-family-primery;
    font-weight: $font-weight-semibold;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 1.62px;
    padding: 0;
    margin: 0;
    margin-bottom: 37px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1.26px;
      margin-left: 48px;
      margin-bottom: 32px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.96px;
      margin-left: 0;
      margin-bottom: 35px;
    }
  }

  ul {
    margin: 0;
    margin-left: 4px;
    padding: 0;
    width: 460px;
    columns: 2;
    list-style-type: none;
    position: relative;
    column-width: 170px;
    column-gap: 120px;

    @include vp-1199 {
      margin-left: 0;
      width: 630px;
      column-width: 50%;
      column-gap: 0;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &::before {
      position: absolute;
      content: "";
      height: calc(100% - 30px);
      width: 1px;
      background-color: $color-light-slate-grey;
      top: 5px;
      left: 50%;

      @include vp-1199 {
        height: calc(100% - 30px);
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  li {
    display: inline-block;
    margin: 0;
    margin-bottom: 18px;

    @include vp-1199 {
      padding-left: 48px;
      padding-right: 46px;
      margin-bottom: 20px;
    }

    @include vp-767 {
      padding: 0;
      margin-bottom: 20px;
    }
  }

  h3 {
    padding: 0;
    margin: 0;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 1px;

    @include vp-1199 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 5px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    margin-top: 3px;
    font-size: 14px;
    line-height: 21px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 27px;
    }
  }

  a {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-family: $font-family-secondary;
    font-size: 14px;
    line-height: 21px;
    color: $color-sapphire-blue;

    @include vp-1199 {
      font-size: 18px;
      line-height: 27px;
    }
  }
}
