.free-class {
  display: flex;
  background-color: $color-sapphire-blue;
  color: $color-default-white;
  width: 100%;

  @include vp-767 {
    min-width: 320px;
    margin: 0 auto;
  }
}

.free-class__content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 54px 103px 46px 100px;
  min-width: 477px;
  margin-left: auto;
  width: 683px;

  @include vp-1199 {
    justify-content: center;
    margin: 0 auto;
    padding: 62px 0 69px;
    align-items: flex-start;
    min-width: 0;
    width: 502px;
  }

  @include vp-767 {
    align-items: center;
    min-width: 290px;
    width: 100%;
    padding: 64px 15px 70px;
  }

  h2 {
    font-family: $font-family-primery;
    font-weight: $font-weight-bold;
    font-size: 54px;
    line-height: 156%;
    letter-spacing: 2.3px;
    text-shadow: -1px 0 0 $color-default-white;
    width: 100%;
    min-width: 400px;
    margin: 0;
    margin-bottom: 12px;
    margin-left: 3px;
    padding: 0;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1.5px;
      margin-left: 0;
      margin-bottom: 27px;
    }

    @include vp-767 {
      font-weight: $font-weight-semibold;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.96px;
      text-shadow: none;
      min-width: 0;
      margin-bottom: 28px;
    }
  }
}

.free-class__form-wrapper {
  @include vp-767 {
    width: 100%;
  }
}

.free-class__form {
  display: flex;
  flex-direction: column;
  max-width: 415px;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    min-width: 472px;
  }

  @include vp-767 {
    width: 100%;
    min-width: 290px;
    align-items: center;
    max-width: 100%;
  }

  fieldset {
    display: flex;
    width: 100%;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  button {
    width: 100%;
    margin: 0;
    padding: 19px 21px 18px;
    background-color: transparent;
    font-weight: $font-weight-bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.7px;
    color: $color-default-white;
    text-transform: uppercase;
    border: none;
    outline: 3px solid $color-default-white;
    outline-offset: -3px;
    cursor: pointer;
    user-select: none;

    @include vp-1199 {
      padding: 19px 21px 19px;
    }

    &:hover {
      background-color: $color-default-white;
      color: $color-egyptian-blue;
    }

    &:active {
      color: $color-sapphire-blue;
      outline: none;
    }

    &:focus-visible {
      background-color: $color-default-white;
      color: $color-egyptian-blue;
    }

    @include hover-focus {
      @include vp-1199 {
        background-color: $color-default-white;
        color: $color-sapphire-blue;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    width: 410px;

    @include vp-1199 {
      column-gap: 60px;
      margin-bottom: 28px;
      width: 100%;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      column-gap: 0;
    }
  }

  li {
    padding: 0;
    margin: 0;
    width: 100%;

    @include vp-767 {
      margin-bottom: 26px;
    }
  }

  input {
    background-color: transparent;
    color: $color-default-white;
    font-family: $font-family-secondary;
    font-weight: $font-weight-regular;
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 6px;
    width: 100%;
    border: 1px solid transparent;
    border-bottom-color: rgba(255, 255, 255, 0.5);

    @include vp-1199 {
      padding-bottom: 7px;
      padding-left: 0;
    }

    &::placeholder {
      font-family: $font-family-secondary;
      font-weight: $font-weight-regular;
      font-size: 14px;
      line-height: 16px;
      color: $color-default-white;

      @include vp-1199 {
        padding: 0;
        margin: 0;
      }
    }

    &:hover {
      border-bottom-color: $color-default-white;
    }

    &:focus-visible {
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding-left: 10px;

      &::placeholder {
        color: $color-sapphire-blue;
      }
    }

    &:disabled {
      border-bottom-color: rgba(255, 255, 255, 0.3);

      &::placeholder {
        opacity: 0.4;
      }
    }
  }
}

.free-class__input-wrapper {
  &.is-invalid {
    border-bottom-color: $color-torch-red;
    color: $color-torch-red;
    font-family: $font-family-secondary;
    font-weight: $font-weight-regular;
    font-size: 14px;
    line-height: 25px;

    input {
      border-bottom-color: $color-torch-red;
    }
  }

  &.is-valid {
    font-family: $font-family-secondary;
    font-weight: $font-weight-regular;
    font-size: 14px;
    line-height: 25px;
  }
}
