.hero-block {
  padding: 70px 0;
  display: flex;
  width: 1160px;
  color: $color-default-white;
  margin: 0 auto;
  position: relative;

  &::before {
    @include vp-767 {
      position: absolute;
      content: "";
      width: 100%;
      height: 114%;
      top: -14%;
      left: 0;
      background: $conic-blue-to-red-mobile;
      z-index: -1;
    }
  }

  @include vp-1199 {
    padding: 42px 45px 82px 45px;
    width: 768px;
  }

  @include vp-767 {
    max-width: 100%;
    width: 100%;
    min-width: 291px;
    padding: 52px 15px 80px 14px;
  }
}

.hero-block__text-container {
  margin-right: 62px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  width: 397px;

  @include vp-1199 {
    margin-right: 30px;
    width: 324px;
  }

  @include vp-767 {
    margin-right: 0;
    width: 100%;
    align-items: center;
    min-width: 290px;
  }

  p {
    font-family: $font-family-primery;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 1.44px;
    font-weight: $font-weight-semibold;
    min-width: 133px;
    text-align: start;
    order: -1;
    padding: 0;
    margin: 0;
    margin-bottom: 13px;

    @include vp-1199 {
      font-size: 34px;
      line-height: 41px;
      letter-spacing: 1.02px;
      text-align: end;
      margin-bottom: 8px;
      margin-right: 5px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 34px;
      letter-spacing: 0.84px;
      text-align: end;
      margin-bottom: 15px;
      margin-right: 3px;
      align-self: flex-end;
    }
  }
}

.hero-block__title-list-wrapper {
  display: flex;
  flex-direction: row-reverse;

  @include vp-767 {
    width: 290px;
  }

  h2 {
    width: 270px;
    min-width: 250px;
    font-family: $font-family-primery;
    font-weight: $font-weight-semibold;
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4.6px;
    margin: 0;
    padding: 0;
    text-align: end;
    margin-bottom: 49px;
    text-shadow: -2px 0 0 $color-default-white;
    text-transform: uppercase;

    @include vp-1199 {
      width: 200px;
      min-width: 200px;
      font-size: 72px;
      line-height: 86px;
      letter-spacing: 3.6px;
      margin-bottom: 37px;
      text-transform: none;
      text-shadow: -3px 0 0 $color-default-white;
    }

    @include vp-767 {
      width: 195px;
      min-width: 195px;
      margin-bottom: 24px;
      margin-left: -20px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    text-align: end;
    margin-top: 49px;
    margin-right: -4px;

    @include vp-1199 {
      margin-top: 40px;
      margin-right: 11px;
    }

    @include vp-767 {
      justify-content: flex-start;
      margin-top: 77px;
      margin-right: 3px;
      min-width: 113px;
    }
  }

  li:not(:last-child) {
    margin-bottom: 0;
  }

  li:last-child {
    margin-bottom: 10px;
  }
}

.hero-block__btn {
  border: 4px solid $color-default-white;
  min-width: 232px;
  padding-top: 20px;
  padding-bottom: 19px;
  user-select: none;

  &:hover {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  @include active {
    color: $color-sapphire-blue;
  }

  &:focus-visible {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  &.no-active {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  @include hover-focus {
    @include vp-1199 {
      background-color: $color-default-white;
      color: $color-egyptian-blue;
    }
  }

  @include vp-1199 {
    min-width: 184px;
    padding-bottom: 18px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.hero-block__image-wrapper {
  margin-top: -112px;
  width: 500px;
  height: 556px;

  @include vp-1199 {
    margin-top: -50px;
    width: 324px;
    height: 390px;
  }

  @include vp-767 {
    display: none;
  }

  img {
    object-fit: cover;
    background-color: $color-egyptian-blue;
  }
}
