.hero-block {
 padding: 51px 103px;
 display: flex;
 width: 100%;
 color: $color-default-white;

 @include vp-1199 {
  padding: 42px 45px 82px 45px;
}

  @include vp-767 {
    margin: 0 auto;
    padding: 60px 15px 80px 15px;
}
}

.hero-block__text-container {
  margin-right: 64px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  width: 396px;

  @include vp-1199 {
    margin-right: 30px;
    width: 324px;
  }

  @include vp-767 {
    margin-right: 0;
    width: 100%;
  }

  h2 {
    min-width: 298px;
    font-family: $font-family-primery;
    font-weight: $font-weight-semibold;
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4.6px;
    margin: 0;
    padding: 0;
    text-align: end;
    margin-bottom: 70px;
    text-shadow: -3px 0 0 $color-default-white;

    @include vp-1199 {
      min-width: 235px;
      font-size: 72px;
      line-height: 86px;
      letter-spacing: 3.6px;
      margin-bottom: 30px;
    }

    @include vp-767 {
      width: 213px;
    }
  }

  p {
    font-family: $font-family-primery;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 1.44px;
    font-weight: $font-weight-semibold;
    min-width: 133px;
    text-align: start;
    order: -1;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    @include vp-1199 {
      font-size: 34px;
      line-height: 41px;
      letter-spacing: 1.02px;
      text-align: end;
      margin-bottom: 15px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 34px;
      letter-spacing: 0.84px;
      text-align: end;
      margin-bottom: 20px;
    }
  }

  ul {
    position: absolute;
    top: 170px;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: end;
    font-size: 14px;
    line-height: 21px;

    @include vp-1199 {
      top: 135px;
    }

    @include vp-767 {
      top: 124px;
    }

    li:not(:last-child) {
      margin-bottom: 10px;

      @include vp-1199 {
        margin-bottom: 5px;
      }
    }
  }
}

.hero-block__btn {
  border: 4px solid $color-default-white;
  min-width: 230px;
  padding-top: 24px;
  padding-bottom: 24px;

  @include vp-1199 {
    min-width: 183px;
  }

  @include vp-767 {
    width: 100%;
  }

  @include hover {
    background-color: $color-default-white;
    color: $color-egyptian-blue;

    @include vp-1199 {
      display: none;
    }
  }

  @include focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;

    @include vp-1199 {
      display: none;
    }
  }

  @include hover-focus {

    @include vp-1199 {
      background-color: $color-default-white;
      color: $color-egyptian-blue;
    }
  }

  @include active {
    color: $color-sapphire-blue;
  }

  /*переделать*/
  &--disabled {
    opacity: 0.5;
  }
}

.hero-block__image-wrapper {
  margin-top: -100px;
  width: 500px;
  height: 556px;

  @include vp-1199 {
    margin-top: -30px;
    width: 324px;
    height: 390px;
  }

  @include vp-767 {
    display: none;
  }

  img {
    background-color: $color-egyptian-blue;
  }
}
