.main-header {
  width: 100%;
  color: $color-default-white;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% + 565px);
    top: 0;
    left: 0;
    background: $conic-blue-to-red;
    z-index: -1;

    @include vp-1199 {
      height: calc(100% + 465px);
    }

    @include vp-767 {
      background: $conic-blue-to-red-mobile;
      height: calc(100% + 437px);
    }
  }

  @include vp-767 {
    min-width: 320px;
  }
}

.main-header__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  padding: 30px 0;

  @include vp-1199 {
    padding: 35px 45px 25px 45px;
    width: 100%;
  }

  @include vp-767 {
    padding: 16px 15px 15px;
  }
}

.main-header__logo {
  margin-top: 10px;
  margin-right: auto;

  @include vp-1199 {
    margin-top: 1px;
    padding-top: 0;
  }
}

.main-header__phone {
  font-family: $font-family-primery;
  font-weight: $font-weight-semibold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.78px;
  color: inherit;
  margin-left: 10px;
  z-index: 2;

  @include vp-1199 {
    font-weight: $font-weight-bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.48px;
  }

  @include vp-767 {
    font-weight: $font-weight-semibold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  &:hover {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.4;
  }

  &:focus-visible {
    outline: 2px solid $color-default-white;
    outline-offset: 5px;
  }

  @include hover-focus {
    @include vp-1199 {
      outline: 2px solid $color-default-white;
      outline-offset: 5px;
    }
  }
}
