.promotion {
  padding: 120px 0;
  margin: 0 auto;

  @include vp-1199 {
    padding: 78px 45px 100px 44px;
  }

  @include vp-767 {
    min-width: 290px;
    padding: 49px 15px 40px;
  }

  h2 {
    margin: 14px auto 33px;
    padding: 0;
    text-align: center;
    font-family: $font-family-primery;
    font-weight: $font-weight-semibold;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 1.62px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1.26px;
      margin-bottom: 40px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.96px;
      margin-bottom: 42px;
    }
  }

  a {
    display: inline-block;
    margin: 0;
    padding: 10px;
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    width: max-content;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }

    /* деактивация кнопки */
    &.no-active {
      opacity: 0.3;
      cursor: default;
      pointer-events: none;
    }
  }
}

.promotion__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  margin: 0 auto;
  width: 1160px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.promotion__optional-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    width: 100%;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0;
  }

  li {
    padding: 27px 28px 18px 18px;
    border-width: 7px;
    border-image: $crimson-to-smalt;
    border-style: solid;
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 211px;

    @include vp-1199 {
      padding: 25px 28px 20px 19px;
    }

    @include vp-767 {
      padding-top: 37px;
      padding-left: 28px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      width: 100%;
      align-items: center;
      min-width: 290px;
    }
  }

  li:not(:last-child) {
    margin-bottom: 40px;

    @include vp-1199 {
      margin-bottom: 0;
    }

    @include vp-767 {
      margin-bottom: 30px;
    }
  }

  a {
    color: $color-sapphire-blue;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;

    &:active {
      color: $color-sapphire-blue;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.6px;
      border-color: transparent;
    }

    @include focus {
      padding: 9px;
      border: 1px solid $color-sapphire-blue;

      span {
        border-bottom: none;
      }
    }

    @include hover-focus {
      @include vp-1199 {
        padding: 9px;
        border: 1px solid $color-sapphire-blue;

        span {
          border-bottom: none;
        }
      }
    }
  }

  span {
    border-bottom: 1px solid $color-sapphire-blue;
  }
}

.promotion__item-content-wrapper {
  padding-left: 10px;

  @include vp-767 {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  br {
    display: none;

    @include vp-1199 {
      display: block;
    }

    @include vp-767 {
      display: none;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    font-weight: $font-weight-bold;
    font-size: 26px;
    margin-bottom: 10px;

    @include vp-1199 {
      margin-bottom: 12px;
    }

    @include vp-767 {
      text-align: center;
    }
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 22px;
    margin-bottom: 20px;

    @include vp-767 {
      width: 159px;
      text-align: center;
      margin-bottom: 18px;
    }
  }
}

.promotion__main-suggestion-image-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  @include vp-1199 {
    justify-content: center;
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin: o auto;
    flex-direction: column;
    align-items: center;
  }
}

.promotion__main-suggestion-wrapper {
  background-color: $color-torch-blackred;
  padding: 45px 45px 35px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-default-white;
  width: 50%;

  @include vp-1199 {
    width: 41.2%;
    padding-top: 43px;
    padding-bottom: 37px;
    min-height: 462px;
  }

  @include vp-767 {
    margin: 0 auto;
    width: 100%;
    min-height: 299px;
    height: 50%;
    align-items: center;
    padding-bottom: 35px;
  }

  a {
    color: $color-default-white;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.7px;

    @include vp-767 {
      margin-left: 8px;
    }

    &:active {
      color: $color-default-white;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.7px;
      border-color: transparent;

      span {
        border-bottom: 1px solid $color-default-white;
      }
    }

    &:focus-visible {
      padding: 9px;
      border: 1px solid $color-default-white;

      span {
        border-bottom: none;
      }
    }

    @include hover-focus {
      @include vp-1199 {
        padding: 9px;
        border: 1px solid $color-default-white;

        span {
          border-bottom: none;
        }
      }
    }
  }

  span {
    border-bottom: 1px solid $color-default-white;
  }
}

.promotion__main-suggestion-text-container {
  @include vp-767 {
    display: flex;
    min-width: 290px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: $font-weight-bold;
    margin-bottom: 28px;
    padding-left: 10px;

    @include vp-1199 {
      margin-bottom: 28px;
    }
  }

  b {
    display: inline-block;
    font-weight: $font-weight-bold;
    font-size: 70px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    padding-left: 10px;

    @include vp-1199 {
      margin-bottom: 42px;
    }

    @include vp-767 {
      margin-bottom: 37px;
    }
  }

  p {
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    padding-left: 10px;

    @include vp-767 {
      text-align: center;
      padding-left: 10px;
      width: 69%;
    }
  }
}

.promotion__image-wrapper {
  width: 280px;
  height: auto;

  @include vp-1199 {
    width: 59%;
  }

  @include vp-767 {
    width: 100%;
    min-width: 290px;
    height: 50%;
    min-height: 299px;
  }

  img {
    background-color: $color-pale-cornflower-blue;
    object-fit: cover;
    height: 100%;

    @include vp-1199 {
      width: 100%;
    }

    @include vp-767 {
      width: 100%;
      min-height: 299px;
    }
  }
}
