.socials {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  max-width: 150px;
  color: $color-default-white;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    align-items: center;
  }

  @include vp-767 {
    margin-top: 14px;
    margin-left: 5px;
  }
}

.socials__item {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  width: 25px;
  height: 25px;

  @include vp-1199 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.socials__item:not(:last-child) {
  margin-right: 11px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: $color-default-white;
  border-radius: 50%;

  &.no-active {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    background-color: $color-egyptian-blue;

    .socials__icon {
      color: $color-default-white;
    }
  }

  &:active {
    background-color: $color-sapphire-blue;
  }

  &:focus-visible {
    background-color: $color-egyptian-blue;
    border: none;

    .socials__icon {
      color: $color-default-white;
    }
  }

  @include hover-focus {
    @include vp-1199 {
      background-color: $color-egyptian-blue;
      border: none;

      .socials__icon {
        color: $color-default-white;
      }
    }
  }
}

.socials__icon {
  text-align: center;
}
