.super-games {
  display: flex;
  width: 1160px;
  justify-content: center;
  margin: 0 auto;
  padding: 121px 0 95px;

  @include vp-1199 {
    padding: 100px 45px;
  }

  @include vp-767 {
    flex-direction: column;
    width: 290px;
    padding: 70px 15px;
    align-items: center;
  }
}

.super-games__text-container {
  background-color: $color-torch-blackred;
  color: $color-default-white;
  margin: 0;
  padding: 75px 78px 85px 78px;
  width: 344px;
  flex-grow: 1;

  @include vp-1199 {
    width: 292px;
    padding: 51px 45px;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 50px 44px;
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 44px;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  a {
    color: $color-default-white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: $font-weight-bold;
    line-height: 14px;
    letter-spacing: 0.6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: 4px solid $color-default-white;
    padding-top: 25px;
    padding-bottom: 25px;

    @include vp-1199 {
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.5px;
      padding-top: 16px;
      padding-bottom: 16px;
      border-width: 2px;
    }

    @include hover {
      background-color: $color-default-white;
      color: $color-sapphire-blue;

      @include vp-1199 {
        display: none;
      }
    }

    @include focus {
      background-color: $color-default-white;
      color: $color-sapphire-blue;

      @include vp-1199 {
        display: none;
      }
    }

    @include hover-focus {

      @include vp-1199 {
       background-color: $color-default-white;
       color: $color-sapphire-blue;
      }
    }
  }
}

.super-games__title-date-time-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  @include vp-1199 {
    column-gap: 29px;
    margin-bottom: 15px;
  }

  h2 {
    display: flex;
    width: 100%;
    margin: 0 0 0 15px;
    padding: 0;
    font-family: $font-family-primery;
    font-weight: $font-weight-semibold;
    font-size: 82px;
    line-height: 82px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;

    @include vp-1199 {
      font-size: 48px;
      line-height: 46px;
      letter-spacing: 1.44px;
      min-height: 91px;
    }

    @include vp-767 {
      min-height: 93px;
      text-align: center;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
      padding-top: 5px;
    }

    li:not(:last-child) {
      margin-bottom: 7px;

      @include vp-1199 {
        margin-bottom: 13px;
      }
    }

    h3 {
      font-size: 18px;
      line-height: 27px;
      font-weight: $font-weight-regular;
      margin: 0;
      padding: 0;
      padding-bottom: 4px;

      @include vp-1199 {
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 3px;
      }
    }

    b {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: max-content;
      vertical-align: top;
      font-weight: $font-weight-bold;
      font-size: 40px;
      line-height: 45px;
      border-top: 1px solid $color-default-white;
      padding-top: 7px;

      @include vp-1199 {
        font-size: 24px;
        line-height: 24px;
      }
    }

    .super-games__date-month-year-wrapper {
      display: grid;
      grid-template-columns: max-content max-content;
      column-gap: 7px;
      padding-top: 5px;
      width: max-content;
      border-top: 1px solid $color-default-white;

      @include vp-1199 {
        column-gap: 3px;
      }

      b {
        border-top: none;
        padding-top: 0;
      }
    }
  }
}

.super-games__month-year-wrapper {
  display: flex;
  flex-direction: column;
  height: 42px;
  justify-content: space-around;

  @include vp-1199 {
    height: 25px;
  }

  span {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0;

    @include vp-1199 {
      font-size: 10px;
      line-height: 10px;
    }
  }
}

.super-games__image-container {
    padding: 0;
    margin: 0;
    width: 660px;
    height: auto;

    @include vp-1199 {
      width: 386px;
    }

    @include vp-767 {
      width: 292px;
    }

  img {
    background-color: $color-sapphire-blue;
    object-fit: cover;
    height: 100%;

    @include vp-1199 {
      width: 386px;
    }

    @include vp-767 {
      width: 292px;
    }
  }
}
