.video {
  iframe {
    display: none;
    border: 0;

    &.is-shown {
      display: block;
      z-index: 2;
    }
  }
}

.video__image-button-container {
  position: relative;

  &.is-hidden {
    display: none;
  }

  button {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    svg {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      @include vp-1199 {
        width: 73px;
        height: 73px;
      }
    }

    svg:last-of-type {
      display: none;
      color: $color-default-white;
    }

    @include hover {
      border: 2px solid $color-sapphire-blue;

      &::before {
        position: absolute;
        content: "";
        background-color: $color-default-white;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      svg:last-of-type {
        position: absolute;
        top: 50%;
        left: 53%;
        display: block;
        width: 23px;
        height: 23px;
        color: $color-sapphire-blue;
      }

      svg:first-of-type {
        display: none;
      }

      @include vp-1199 {
        display: none;
      }
    }

    @include focus {
      border: 2px solid $color-sapphire-blue;

      &::before {
        position: absolute;
        content: "";
        background-color: $color-default-white;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      svg:last-of-type {
        position: absolute;
        top: 50%;
        left: 53%;
        display: block;
        width: 23px;
        height: 23px;
        color: $color-sapphire-blue;
      }

      svg:first-of-type {
        display: none;
      }

      @include vp-1199 {
        display: none;
      }
    }

    @include hover-focus {
      @include vp-1199 {
        border: 2px solid $color-sapphire-blue;

        &::before {
          position: absolute;
          content: "";
          background-color: $color-default-white;
          width: 72px;
          height: 72px;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }

        svg:last-of-type {
          position: absolute;
          top: 50%;
          left: 53%;
          display: block;
          width: 23px;
          height: 23px;
          color: $color-sapphire-blue;
        }

        svg:first-of-type {
          display: none;
        }
      }
    }

    @include active {
      border: 2px solid $color-sapphire-blue;

      &::before {
        position: absolute;
        content: "";
        background-color: $color-default-white;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      svg:last-of-type {
        position: absolute;
        top: 50%;
        left: 53%;
        display: block;
        width: 23px;
        height: 23px;
        color: $color-sapphire-blue;
      }

      svg:first-of-type {
        display: none;
      }
    }

    &:disabled {
      cursor: default;
      border: 2px solid rgba(16, 38, 84, 0.4);

      &::before {
        position: absolute;
        content: "";
        background-color: rgba(255, 255, 255, 0.4);
        width: 72px;
        height: 72px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      svg:last-of-type {
        position: absolute;
        top: 50%;
        left: 53%;
        display: block;
        width: 23px;
        height: 23px;
        color: rgba(16, 38, 84, 0.4);
      }

      svg:first-of-type {
        display: none;
      }
    }
  }
}

.video__image-wrapper {
  position: relative;
  object-fit: cover;

  &::before {
    position: absolute;
    content: "";
    width: 364px;
    height: 228px;
    background-color: rgba(20, 54, 122, 0.5);
  }

  @include vp-1199 {
    width: 266px;
    height: 167px;

    &::before {
      width: 266px;
      height: 167px;
    }
  }

  @include vp-767 {
    width: 320px;

    &::before {
      width: 320px;
    }
  }

  img {
    @include vp-767 {
      object-fit: cover;
      width: 320px;
      height: 167px;
    }
  }
}
